<div class="row">
    <div class="col-md-6">
        <h3 id="why">Why is this necessary?</h3>
        <p>
            Comparing electricity rates is not easy. Retail electricity providers only have to show the price at 3 usage levels 500 kWh, 1000 kWh, and 2000 kWh. This makes it possible to skew the interpretation of the price by making the per kWh price at one of those
            levels but higher outside of them. This site calculates the price of the plans at your usage levels and gives insight to how the price changes as usage increases.
        </p>

        <h3 id="how">How is the price calculated?</h3>
        <p>
            Each plan on this site has been broken down into rules that can be used to calculate the price at any usage. We take the list of your usages and calculate the price for each usage for each plan and then give your a total and average.
        </p>

        <h3 id="total">What is the total?</h3>
        <p>
            The total amount shown for each plan is the sum of the price for each usage you enter. So if you enter only 3 months of usage then the total will be what you would pay for those 3 months.
        </p>
        
        <h3 id="usage">Why do you need my usages?</h3>
        <p>
            The cost of a plan per month varies based on how much you use.  Some plans are priced low for low usage while some are priced lower for higher usage.  There are variations of everything in between as well.
            In order to find the right plan for you, we must calculate each plan with your personal usages to find out which one will be the least expensive.
        </p>
        
        <h3 id="accuracy">How accurate are the calculations?</h3>
        <p>
            The calculations are accurate usually to the penny.  However, the bill you might get for plan will generally be a bit more because you have to pay taxes as well.  Those taxes are not reflected in the
            calculations.  Also, keep in mind that the usages you are putting in are estimates for future use based on past usage amounts.  So just because you used 900 kWh last January doesn't mean you will
            use 900 kWh again.  However, since most electricity is usually driven by air conditioning the usage estimates you get from previous months should be good indicators.
        </p>
    </div>
</div>
