<div class="row">
    <div class="col-md-12" id="top">
        <h1>Blind Trust Mode</h1>
        <p>
            Enter your last months usage, pick your tdu and we will estimate your year of usage and tell you which plan
            is best based on the usage estimate
        </p>
    </div>
</div>

<div class="row">
    <form>
        <div class="input-field col s3">
            <label>Enter your usage from last month</label>
            <input type="text" ng-model="ctrl.usage"/>
        </div>

        <div class="input-field col s3">
            <select ng-model="ctrl.tdu"
                    ng-options="tdu for tdu in ctrl.tdus | orderBy: tdu">
            </select>
            <label>TDU</label>
        </div>
        <div class="input-field col s3">
            <button class="btn waves-effect light-blue" ng-disabled="!ctrl.usage" ng-click="ctrl.generate()">
                Show me what to sign up for
            </button>
        </div>
    </form>
</div>

<div class="row" ng-show="ctrl.usage_chart.data">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <hr>
                <h1>Results</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas class="chart chart-bar" chart-data="ctrl.usage_chart.data"
                        chart-labels="ctrl.usage_chart.labels" chart-series="ctrl.usage_chart.series"
                        chart-options="ctrl.usage_chart.options"></canvas>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ctrl.plan.Company}} - {{ctrl.plan.Name}}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-center text-success" style="font-size: 36px; font-weight: bold">
                            {{ctrl.plan.Total | currency}}
                            <small>per year</small>
                        </p>
                        <p class="text-center text-success" style="font-size: 36px; font-weight: bold">
                            {{ctrl.plan.Average_Per_Month | currency}}
                            <small>avg per month</small>
                        </p>
                        <p class="text-center text-success" style="font-size: 36px; font-weight: bold">
                            {{ctrl.plan.Average_Price_Per_kWh | currency : '$' : 4}}
                            <small>avg per kWh</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
